/* **  見出し　***************************************************** */
system_name {
    padding: 0.5em;
    background: rgb(208, 230, 250);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
    font-size: 40px;
}


/* **  メニュー　***************************************************** */


.logout_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.logout_btn:hover {
    background: #67c5ff;
    color: white;
}

.tab_b {
    display: block;
    height: 40px;
    width: 120px;
    text-decoration: none;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    color: rgb(40, 7, 189);
    border: 1px solid #030305;
    border-bottom: 1px solid #030305;
    text-shadow: 0px 1px 0px #fafafa;
    -webkit-box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
    -moz-box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
    box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #eeeeee), color-stop(0.5, #e2e2e2));
    background: -moz-linear-gradient(top, #eeeeee 50%, #e2e2e2 50%);
    background: -o-linear-gradient(top, #eeeeee 50%, #e2e2e2 50%);
    background: -ms-linear-gradient(top, #eeeeee 50%, #e2e2e2 50%);
    background: linear-gradient(top, #eeeeee 50%, #e2e2e2 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#eeeeee 50%', endColorstr='#e2e2e2 50%');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee 50%', endColorstr='#e2e2e2 50%')";
}

.tab_b:active {
    /* クリックした時 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: none;
}
.tab_g {
    display: block;
    height: 40px;
    width: 120px;
    text-decoration: none;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    color: rgb(35, 33, 43);
    border: 1px solid #cbcbcb;
    border-bottom: 1px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;
    -webkit-box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
    -moz-box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
    box-shadow: 0 1px 0 #f5f5f5 inset, 1px 1px 1px #e9e9e9;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #eeeeee), color-stop(0.5, #e2e2e2));
    background: -moz-linear-gradient(top, #eeeeee 50%, #e2e2e2 50%);
    background: -o-linear-gradient(top, #eeeeee 50%, #e2e2e2 50%);
    background: -ms-linear-gradient(top, #eeeeee 50%, #e2e2e2 50%);
    background: linear-gradient(top, #eeeeee 50%, #e2e2e2 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#eeeeee 50%', endColorstr='#e2e2e2 50%');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee 50%', endColorstr='#e2e2e2 50%')";
}

.tab_g:active {
    /* クリックした時 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: none;
}

/* **  表　***************************************************** */

#mytable {
    width:700px;
    margin: 50px 0 0 40px; padding:0;
    border:0;
    border-spacing:0;
    border-collapse:collapse;
    position: absolute;
    top:150px;
    left:130px;
}
caption {
    padding:0 0 5px 0;
    font:italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align:right;
}
th {
    font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color:#4f6b72;
    border:1px solid #c1dad7;
    letter-spacing:2px;
    text-transform:uppercase;
    text-align:left;
    padding:6px 6px 6px 12px;
    background:#59b1b8 url("img/bg_header.jpg") no-repeat;
}
th.nobg {
    border-top:0;
    border-left:0;
    background:none;
}
th1 {
    font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color:#4f6b72;
    border:1px solid #c1dad7;
    letter-spacing:2px;
    text-transform:uppercase;
    text-align:left;
    padding:6px 6px 6px 12px;
    background:#cae8ea url("img/bg_header.jpg") no-repeat;
}
th1.nobg {
    border-top:0;
    border-left:0;
    background:none;
}
th2 {
    font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color:#4f6b72;
    border:1px solid #c1dad7;
    letter-spacing:2px;
    text-transform:uppercase;
    text-align:left;
    padding:6px 6px 6px 12px;
    background:#c5c5c5 url("img/bg_header.jpg") no-repeat;
}
th2.nobg {
    border-top:0;
    border-left:0;
    background:none;
}
th_tytle {
    font:bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color:#4f6b72;
    border:1px solid #c1dad7;
    letter-spacing:2px;
    text-transform:uppercase;
    text-align:left;
    padding:6px 6px 6px 12px;
    background:#59b1b8 url("img/bg_header.jpg") no-repeat;
}
th_tytle.nobg {
    border-top:0;
    border-left:0;
    background:none;
}
td {
    border:1px solid #c1dad7;
    background:#fff;
    padding:6px 6px 6px 12px;
    color:#4f6b72;
}
td.alt {
    background:#F5FAFA;
    color:#797268;
}
th.spec {
    background:#fff url("img/bullet1.gif") no-repeat;
    font:bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
th.specalt {
    background:#f5fafa url("img/bullet2.gif") no-repeat;
    font:bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color:#797268;
}

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
  }

.square_btn:hover {
    background: #00bcd4;
    color: white;
}